.timeline {
    padding: 0 !important;
}

.timeline .timeline_header{
    padding-top: 7px;
}
.timeline .timeline_firstItem {
    min-height:80px;
}
.timeline .MuiTimelineContent-root{
    min-height: 10px;
}
.timeline .MuiTimelineItem-missingOppositeContent:before{
    display: none;
}
.timeline .timeline_dot_header{
    color: black;
    background-color: var(--main-color);
    font-size: small;
    padding: 10px;
}

.timeline .timeline_dot{
    background-color: var(--main-color);
}

.timeline .timeline_dot_header .MuiSvgIcon-root{
    font-size: 20px;
    color: darkslategray;
}
.timeline .connection{
    height: 100px;
    padding-left: 8px;
}
.timeline .connector {
    color: red !important;

}
